@import url("https://fonts.googleapis.com/css?family=Questrial");

input:focus{
  outline: none;
}

html {
  min-height: 100%;
  display: flex;
  font-family: "Questrial", sans-serif;
}

ul{
  list-style: none;
  margin:0;
  padding:0
}

body {
  flex:1;
  margin:0;
}
#root{
  flex:1;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 8px auto;
  position: relative;
}

.player-wapper{
  max-width: 960px;
  margin: 8px auto;
}

.player-container{
  width: 100%;
  position: fixed;
  bottom: 0;
}

#list{
  flex:1;  
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  flex-wrap: wrap;
}
#list #a-songs{
  width: 70%;
}
#list > div{
  width: 30%;
}

#list ul{
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;margin:0;
  display: flex;
  flex-direction: column;

}
.list-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 90px;;
  align-items: center;
  cursor: pointer;
  color: #351239;
  border-bottom: solid 1px #eee ;
}
.list-item-f {
  display: flex;
  flex-shrink: 0;
  height: 60px;
  cursor: pointer;
  color: #351239;
  padding: 20px 10px 0 10px;
  /* border-bottom: solid 1px #eee ; */
}
.list-item img{
  width: 50px;
  height: 50px;
  border-radius:8px;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
  margin-right: 20px;
  margin-left: 10px;
}

.list-item-f > img{
  width: 40px;
  height: 40px;
  border-radius:8px;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
  margin: 0 10px;
}

.list-item-f >div> img{
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.list-item >div{
  margin-right: 20px;
}

.item-title{
  margin-bottom: 5px;
  font-weight: bold;
  flex:1;
}

.item-singer{
  font-size: .8em;
}

.item-heart{
  font-size: .8em;
}

.sm{
  padding-top: 4px;
  font-size: .6em;
}

.item-listen{
  font-size: .8em;
}

.list-item:hover{
  background-color: #eee;
}

#f-cover{
  background-image: url(../images/f-bg.jpg);
  height: 160px;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
#f-cover, #l-cover{
  margin:0;
  color: white;
}

#l-cover{
  background-image: url(../images/l-bg.jpg);
  height: 160px;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

#logo{
  width: 10%;
  min-width: 80px;
}
#logo img{
  object-fit: contain;
}

.give-heart{
  cursor: pointer;
}

#upload{
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-left: 40px;
  background-color: #eee;
  height: 100%;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

#player {
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(54, 79, 60, 0.4);
}

.album {  
  width: 90px;
  height: 90px;
  border-radius: 5px;  
}

.album img{
  width: 100%;
  height: 100%;
}

.clicked {
  transform: scale(1.2);
  transition: all .4s ease;
}

.info {
  flex:1;
  height: 90px;
  background: rgba(255, 255, 255, 0.9);
}

.progress{
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  height: 5px;
  width: 73%;
  margin: 0px 20px;
  background: #d1b7d4;
  border-radius: 10px;
}

.fill {
  background-color: #29136d;
  width: 0%;
  height: 0.3rem;
  border-radius: 2px;
}

.time--current,
.time--total {
  color: #29136d;
  font-size: 10px;
}


.song-info{
  color: #29136d;
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 10px;
  display: flex;
  padding: 0 90px;
  align-items: baseline;
}

.controls {
  display: flex;
  align-items: center;
  font-size: .8em;
  justify-content: center;
  color: #29136d;
}

.no-active {
  color: #d1b7d4;
}

.controls .play,
.controls .pause {
  margin: 10px 20px;
  color: #29136d;
  font-size: 1.5em;
}

.controls .volume {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex:1
}

.vol-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #29136d;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.vol-control {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  background: #d1b7d4;
}

.vol-control::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #29136d;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.controls .shuffle {
  margin-left: 30px;
  font-size: 1em;
}

.repeat{
  display: flex;
  justify-content: center;
  align-items: center;
}

.repeat div{
  position: absolute;
  font-size: 0.8em;
}

.repeat,
.play,
.pause,
.next,
.previous,
.progress-bar,
.volume,
.shuffle {
  transition: all .5s ease;
  cursor: pointer;
}
.top-wapper{
  position: fixed;
  top:0;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.87) 78%, rgba(255,255,255,0.1) 100%);
  z-index: 1;
}

#top{
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 10px;
  max-width: 960px;
  margin: 20px auto;
}

.search-form{
  display: flex;
  height: 100%;
  align-items: center;
  flex:1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  border: solid 1px #eee;
  position: relative;
  max-width: 600px;
}

.search-form input{
  flex:1;
  background-color: transparent;
  height: 100%;
  border-width: 0;
  padding: 0px 20px;
  font-size: 0.8em;
}

.search-form .search-btn{
  padding: 0 16px;
  cursor: pointer;
}

.search-result{
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  top: 45px;
  border-radius: 8px;
  display: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.search-result > div:first-child{
  margin-top: 10px;
}
.search-result > div:last-child{
  margin-bottom: 10px;
}
.item-suggest{
  border-bottom: solid 1px #ddd;
  font-size: .8em;
  color: gray;
  padding: 10px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.item-suggest:hover{
  background-color: #ddd;
}

.item-suggest img{
  width: 36px;
  height: 36px;
  border-radius:8px;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
  margin: 0 20px;
}
.item-suggest div{
  padding: 0 10px;
}


#form{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  top:0;
  z-index: 1;
}

.form{
  background-color: white;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  padding: 16px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.form > div{
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.form > div >label{
  width: 30%;
}
.form > div> input[type="text"]{
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 36px;
  background-color: #eee;
}
.form > div > input[type="submit"]{
  border: none;
  border-radius: 4px;
  background-color: #eee;
  border-radius: none;  
}

.form button {
  height: 40px;
  border-radius: 40px;
  border: none;
  padding: 0 20px;
  margin: 10px 0;
  background: rgb(183,15,180);
  color: white;
  font-weight: bold;
  background: linear-gradient(101deg, rgba(183,15,180,1) 0%, rgba(74,95,173,1) 100%);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee; 
}

@keyframes wiggle {
  0% { transform: rotate(10deg) }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg) scale(1.5); }
  30% { transform: rotate(-10deg) scale(1.8); }
  35% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  42% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  82% { transform: rotate(3deg); }
  85% { transform: rotate(-3deg); }
  95% { transform: rotate(2deg); }
  100% { transform: rotate(0deg) scale(1); }
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
}

.form-logo{
  width: 100px;
  height: 100px;
}

.form-logo img{
  width: 100px;
  object-fit: contain;
}

#tabs{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  align-items: center;
}
#tabs > div{
  font-size: 1.4em;
}

#playing-playlist{
  border: solid 1px #29136d;
  border-radius: 100px;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: .7em;
  position: relative;
}
#playing-playlist >div{
  display: none;
  position: absolute;
  bottom:100%;
  right: -70%;
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0 0 5px rgba(54, 79, 60, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

#current-playlist{  
  overflow: hidden;
  overflow-y: auto;
  height: 420px;
}

#playing-playlist:hover > div{  
  display: block;
}

#current-playlist li{
  display: flex;
  font-weight: 100;
  font-size: 1.2em;
  align-items: center;
  padding:0
}

.c-cover{
  background-image: url("../images/c-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
}
.c-cover div{
  padding-top: 10px;
  text-align: center;
  font-size: 1.4em;
}